<!-- templates/home.html -->
<html>
<head>
    <title>VoxNet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">VoxNet</h1>
        <a class="btn btn-primary mb-3" href="{% url 'create_post' %}">新規投稿</a>
        <hr>
        <a href="{% url 'account_login' %}">Login</a> <!-- 'login'から'account_login'に変更 -->
        <a href="{% url 'account_logout' %}">Logout</a> <!-- 'logout'から'account_logout'に変更 -->
        <ul class="list-group">
            {% for post in posts %}
            <li class="list-group-item">
                <strong>{{ post.user.username }}</strong>: {{ post.text }}
                {% if post.audio_file %}
                <audio controls class="mt-2">
                    <source src="{{ post.audio_file.url }}" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
