{% extends "base.html" %}

{% block content %}
<div class="content-container">
    <div class="left-sidebar">
        <div class="profile-block">
            {% if user.is_authenticated %}
                <p>{{ user.username }}さん。<br>ボックスネットへようこそ！</p>
                <a class="btn" href="{% url 'account_logout' %}">Logout</a>
            {% else %}
            <p>ゲストさん。<br>ボックスネットへようこそ！</p>
            <a class="btn" href="{% url 'account_login' %}">Login</a>
            {% endif %}
        </div>
    </div>
    <div class="main-content">
        <h1 class="my-4">すべての投稿</h1>
        <a class="btn mb-3" href="{% url 'create_post' %}">新規投稿</a>
        <hr>
        <ul class="list-group">
            {% for post in posts %}
            <li class="list-group-item" data-audio="{{ post.audio_file.url }}">
                <span class="play-icon">▶</span>
                <div>
                    <strong>{{ post.user.username }}</strong>
                    <div>{{ post.text }}</div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="right-sidebar">
        <p><br>現在のテストリリースバージョン（ver0.02）ではバグ、不具合が発生する可能性があります。</p>
        <p>何か問題があった場合は[<a href="https://x.com/ume_tenten365" target="_blank">開発者のXアカウント</a>]までご連絡ください。</p>
    </div>
</div>
{% endblock %}
